services:
  test_db:
    image: postgres:15
    env_file: [.env]
    ports: ["5432:5432"]
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U \"${POSTGRES_USER}\" -d \"${POSTGRES_DB}\"'"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - test_db:/var/lib/postgresql/data
    restart: always
    networks: [app_network]
  
  test_task:
    build: .
    image: myzos/test_task:latest
    env_file: [.env]
    depends_on:
      test_db:
        condition: service_healthy
    command: ["web"]
    volumes:
      - ./logs:/app/logs
      - staticfiles_test_task:/app/staticfiles
    restart: always
    networks: [app_network]

  celery_worker_test_task:
    build: .
    image: myzos/celery_worker_test_task:latest
    env_file: [.env]
    depends_on:
      redis:
        condition: service_healthy
      test_db:
        condition: service_started
      test_task:
        condition: service_started
    command: ["worker"]
    volumes:
      - ./logs:/app/logs
    restart: always
    networks: [app_network]
    healthcheck:
      test: ["CMD-SHELL", "ps aux | grep 'celery worker' | grep -v grep"]
      interval: 30s
      timeout: 10s
      retries: 3

  redis:
    image: redis:7.2-alpine
    restart: unless-stopped
    volumes:
      - redis_data:/data
    networks: [app_network]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3
    command: redis-server --appendonly yes --replica-read-only no

volumes:
  test_db:
  redis_data:
  staticfiles_test_task:
  

networks:
  app_network:
    driver: bridge 

